
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    
   
    <h1 class ="display-4">Welcome to Vet Hub Admin Dashboard</h1>

    <h3>We wish you a productive and successful day!</h3>
</div>
